{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my static files</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <div>
            <h3>Handling Static Files</h3>
        </div>
        <div>
            <img src="{% static 'images/1.jpeg' %}" alt="Image 1" />
            <img src="{% static 'images/2.jpeg' %}" alt="Image 2" />
            <img src="{% static 'images/3.jpeg' %}" alt="Image 3" />
        </div> 
        <div>
            <input type="button" name="btngreet" id="clickgreet" onclick="greet()" value="greet"/>
        </div>   
    </div>

    <script src="{% static 'js/myscript.js' %}"></script>
</body>
</html>